<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h2>Quiz</h2>
<form method="post">
{% for q in questions %}
  <div class="question">
    <p><b>{{ loop.index }}. {{ q['question'] }}</b></p>
    <label><input type="radio" name="{{ q['id'] }}" value="1"> {{ q['option1'] }}</label><br>
    <label><input type="radio" name="{{ q['id'] }}" value="2"> {{ q['option2'] }}</label><br>
    <label><input type="radio" name="{{ q['id'] }}" value="3"> {{ q['option3'] }}</label><br>
    <label><input type="radio" name="{{ q['id'] }}" value="4"> {{ q['option4'] }}</label><br><br>
  </div>
{% endfor %}
<button type="submit">Submit</button>
</form>
</body>
</html>
